@model IEnumerable<QrSorterUI.Models.CategoryViewModel>

@{
    ViewData["Title"] = "QrSorter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="categories">  
    @{  
        await Html.RenderPartialAsync("CategoryList", Model);  
    }  
</div>  